body{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 1fr 6fr;
}
header{
    background-color: aqua;
    grid-column: 1/3;
    grid-row: 1/2;
    height: 100px;
}
#sidebar{
    grid-column: 1/2;
    background-color: red;
}
#tasks{
    display: flex;
    flex-direction: column;
}
